section {
  width: 24rem;
  height: 24rem;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  background-color: black;
  border-radius: 1rem;
  overflow: hidden;
}
