<div class="container">
  <h1 class="">Tic - Tac - Toe</h1>

  @if (player1() && player2()) {
    <div class="row m-4 text-center">
      <div class="col-4">
        <div class="d-flex align-items-center justify-content-center gap-2">
          <mat-icon fontIcon="account_box"></mat-icon>
          {{ player1() }}
        </div>
      </div>
      <div class="col-4"></div>
      <div class="col-4">
        <div class="d-flex align-items-center justify-content-center gap-2">
          <mat-icon fontIcon="account_box"></mat-icon>
          {{ player2() }}
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="fs-1 bg-light px-4 py-1 rounded border border-2 border-secondary">
          X
        </div>
      </div>
      <div class="col-4 fs-1 text-center">
        {{ gameService.player1Score() }} - {{ gameService.player2Score() }}
      </div>
      <div class="col-4 text-center">
        <div class="fs-1 bg-light px-4 py-1 rounded border border-2 border-secondary">
          O
        </div>
      </div>
    </div>
  }

  @if (!(player1() && player2())) {
    <button mat-fab extended (click)="newGame()">New Game</button>
  } @else {
    <div class="header">
      <h5 class="text-center text-danger">
        {{ gameService.activePlayer }}'S TURN
      </h5>
    </div>
    <app-board></app-board>

    @if (gameService.gameOver) {
      <button
        mat-fab
        class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded mx-auto block mt-5 "
        (click)="resetGame()">
        Reset
      </button>
    }
  }
</div>
