<div class="container">
  <h1 class="fw-bolder" style="color: crimson">Tic - Tac - Toe</h1>

  @if (player1Name() && player2Name()) {
    <div class="row m-4 text-center">
      <div class="col-4">
        <div class="d-flex align-items-center justify-content-center gap-2">
          <mat-icon fontIcon="account_box"></mat-icon>
          {{ player1Name() }}
        </div>
      </div>
      <div class="col-4"></div>
      <div class="col-4">
        <div class="d-flex align-items-center justify-content-center gap-2">
          <mat-icon fontIcon="account_box"></mat-icon>
          {{ player2Name() }}
        </div>
      </div>
      <div class="col-4 text-center">
        <div class="fs-1 bg-light px-4 py-1 rounded border border-2 border-secondary">
          X
        </div>
      </div>
      <div class="col-4 fs-1 text-center">
        {{ player1Score() }} - {{ player2Score() }}
      </div>
      <div class="col-4 text-center">
        <div class="fs-1 bg-light px-4 py-1 rounded border border-2 border-secondary">
          O
        </div>
      </div>
    </div>

    <div class="header">
      <h5 class="text-center text-danger">
        {{ activePlayer() }}'S TURN
      </h5>
    </div>
    <app-board></app-board>

    <div class="d-flex justify-content-evenly w-50 mt-5 fs-4 fw-bold border-top border-2 pt-2">
      <div>
        <span class="text-danger">TIES: </span>
        <span class="text-warning">{{ tiesScore() }}</span>
      </div>

      <div>
        <span class="text-danger">DRAWS: </span>
        <span class="text-warning">{{ drawScore() }}</span>
      </div>
    </div>

    @if (gameService.gameOver()) {
      <button
        mat-fab
        class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded mx-auto block mt-5 "
        (click)="resetGame()">
        Reset
      </button>
    }
  }
</div>
